<!DOCTYPE html>
<html>
<head>
  <title>SoundClound</title>
  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  
</head>
<body>

	
	





  







  <div class="tracks">
  	<h3>Track Listing:</h3>
  	<ol id='results'>
		</ol>
	</div>



<div class="showcase">
<h1>Brave Wilson Showcase:</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">
				<div id='player1'>
				</div>
			</div>
			<div class="thumbnail">
				<div id='player2'>
				</div>
			</div>
			<!-- <div class="thumbnail">
				<div id='player3'>
				</div>
			</div>
			<div class="thumbnail">
				<div id='player4'>
				</div>
			</div>
			<div class="thumbnail">
				<div id='player5'>
				</div>
			</div>
			<div class="thumbnail">
				<div id='player6'>
				</div>
			</div>
			<div class="thumbnail">
				<div id='player7'>
				</div>
			</div>
			<div class="thumbnail">
				<div id='player8'>
				</div>
			</div> -->
			</div>
		</div>
	</div>
</div>
</div>












</body>
</html>
